<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta
          name="description"
          content="Listen App - Online Music Streaming App Template"
        />
        <meta
          name="keywords"
          content="music template, music app, music web app, responsive music app, music, themeforest, html music app template, css3, html5"
        />
        <title>پلتفرم پخش آنلاین موزیک - Listen</title>
        <link href="images/logos/favicon.png" rel="icon" />
        <link rel="apple-touch-icon" href="images/logos/touch-icon-iphone.png" />
        <link
          rel="apple-touch-icon"
          sizes="152x152"
          href="images/logos/touch-icon-ipad.png"
        />
        <link
          rel="apple-touch-icon"
          sizes="180x180"
          href="images/logos/touch-icon-iphone-retina.png"
        />
        <link
          rel="apple-touch-icon"
          sizes="167x167"
          href="images/logos/touch-icon-ipad-retina.png"
        />
        <link href="css/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="css/styles.bundle.css" rel="stylesheet" type="text/css" />
    
    
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
  <body>
    <div id="line_loader"></div>
    <div id="loader">
      <div class="loader">
        <div class="loader__eq mx-auto">
          <span></span> <span></span> <span></span> <span></span> <span></span>
          <span></span>
        </div>
        <span class="loader__text mt-2">در حال بارگیری  . . .</span>
      </div>
    </div>
    <div id="wrapper">
      <div class="auth py-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-7 col-md-9 col-sm-11 mx-auto">
              <div class="card">
                <div class="card-body p-sm-5">
                  <h4>
                    ثبت نام در <span class="text-primary">لِسِن</span>
                  </h4>
                  <p class="fs-6">
                    وقت آن است که به لِسِن بپیوندید و تجربه موسیقی عالی را به دست آورید.
                  </p>
                  <form action="#" class="mt-5">
                    <div class="mb-5">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-default w-100"
                        ><div class="btn__wrap">
                          <i class="ri-google-fill"></i>
                          <span class="ms-2">ثبت نام با جیمیل</span>
                        </div></a
                      >
                    </div>
                    <div class="mb-4">
                      <div class="auth__or mx-auto fw-medium"></div>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label fw-medium"
                        >ایمیل</label
                      >
                      <input type="text" id="email" class="form-control" />
                    </div>
                    <div class="mb-2">
                      <label for="password" class="form-label fw-medium"
                        >رمز عبور</label
                      >
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="c_password" class="form-label fw-medium"
                        >تکرار رمز عبور</label
                      >
                      <input
                        type="password"
                        id="c_password"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-4">
                      <div class="form-check mb-0">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="agree"
                        />
                        <label class="form-check-label" for="agree"
                          > <a href="#">با شرایط  و قوانین</a> موافقم</label
                        >
                      </div>
                    </div>
                    <div class="mb-5">
                      <input
                        type="submit"
                        class="btn btn-primary w-100"
                        value="ثبت نام"
                      />
                    </div>
                    <p>
                     حساب کاربری دارید؟<br /><a
                        href="login.html"
                        class="fw-medium external"
                        >ورود</a
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/plugins.bundle.js"></script>
    <script src="js/scripts.bundle.js"></script>
  </body>
</html>
