{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<aside id="sidebar">
  <div
    class="sidebar-head d-flex align-items-center justify-content-between"
  >
    <a href="home.html" class="brand external"
      ><img src="{% static "images/logos/logo.svg" %}" alt="Listen app" /> </a
    ><a
      href="javascript:void(0);"
      role="button"
      class="sidebar-toggler"
      aria-label="Sidebar toggler"
      ><div class="d-none d-lg-block">
        <i class="ri-menu-3-line sidebar-menu-1"></i>
        <i class="ri-menu-line sidebar-menu-2"></i>
      </div>
      <i class="ri-menu-fold-line d-lg-none"></i
    ></a>
  </div>
  <div class="sidebar-body" data-scroll="true">
    <nav class="navbar d-block p-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="home.html" class="nav-link d-flex align-items-center"
            ><i class="ri-home-4-line fs-5"></i>
            <span class="ps-3">خانه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">دسته بندی</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a href="{% url "genres:genres" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-disc-line fs-5"></i>
            <span class="ps-3">سبک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url "musices:musices_list" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-music-2-line fs-5"></i>
            <span class="ps-3">موزیک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url "albomes:albomes_list" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-album-line fs-5"></i>
            <span class="ps-3">آلبوم ها</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">موزیک</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="artists.html"
            class="nav-link d-flex align-items-center"
            ><i class="ri-mic-line fs-5"></i>
            <span class="ps-3">هنرمندان</span></a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url "favorites:favorites" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-heart-line fs-5"></i>
            <span class="ps-3">مورد علاقه</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
{% endblock sidebar %}


{% block main %}
<main id="page_content">
    <div
      class="hero"
      style="background-image: url({{ genre.image.url }})"
    ></div>
    <div class="under-hero container">
        <div class="list">
            <div class="row">
              <div class="col-xl-12">  
              {% comment %} Musices list started {% endcomment %}
                {% for music in genere_musices %}
                  <div
                  class="list__item"
                  data-song-id="{{ music.id }}"
                  data-song-name="{{ music.title }}"
                  data-song-artist="عرفن "
                  data-song-album="{{ music.title }}"
                  data-song-url="{{ music.music_file.url }}"
                  data-song-cover="{{ music.image.url }}"
                  >
                    <div class="list__cover">
                        <img src="{{ music.image.url }}" alt="{{ music.image.url }}" />
                        <a href="javascript:void(0);" class="btn btn-play btn-sm btn-default btn-icon rounded-pill" data-play-id="{{ music.id }}" aria-label="Play pause">
                            <i class="ri-play-fill icon-play"></i>
                            <i class="ri-pause-fill icon-pause"></i>
                        </a>
                    </div>
                    <div class="list__content">
                        <a href="song-details.html" class="list__title text-truncate">
                            {{ music.title }}
                        </a>
                        <p class="list__subtitle text-truncate">
                            <a href="artist-details.html">{{music.artist}}</a>
                        </p>
                    </div>
                    <ul class="list__option">
                        <li>
                            <a
                            href="javascript:void(0);"
                            role="button"
                            class="d-inline-flex"
                            aria-label="Favorite"
                            data-favorite-id="1"
                            >
                                <i class="ri-heart-line heart-empty"></i>
                                <i class="ri-heart-fill heart-fill"></i>
                            </a>
                        </li>
                        <li>{{ music.music_time }}</li>
                        <li class="dropstart d-inline-flex">
                            <a
                            class="dropdown-link"
                            href="javascript:void(0);"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-label="Cover options"
                            aria-expanded="false"
                            ><i class="ri-more-fill"></i
                            ></a>
                            <ul class="dropdown-menu dropdown-menu-sm">
                              <li>
                                  <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  role="button"
                                  data-queue-id="{{ music.id }}"
                                  >افزودن به لیست</a
                                  >
                              </li>
                              <li>
                                  <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  role="button"
                                  data-next-id="{{ music.id }}"
                                  >بعدی برای پخش</a
                                  >
                              </li>
                              <li>
                                  <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  role="button"
                                  >اشتراک</a
                                  >
                              </li>
                              <li class="dropdown-divider"></li>
                              <li>
                                  <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  role="button"
                                  data-play-id="{{ music.id }}"
                                  >پخش</a
                                  >
                              </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}
              {% comment %} Musices list ended {% endcomment %}
              <br>
              </div>
            </div>
          </div>
      <div class="section">
        <div class="section__head">
          <h3 class="mb-0">
            جست و جوی <span class="text-primary">ژانر ها</span>
          </h3>
        </div>
        <div class="swiper-carousel">
          <div
            class="swiper"
            dir="rtl"
            class="swiper"
            data-swiper-slides="4"
            data-swiper-autoplay="true"
          >
            <div class="swiper-wrapper">
                {% for genre in genres %}
                    <div class="swiper-slide">
                        <div class="cover cover--round">
                        <a href="genre-details.html" class="cover__image"
                            ><img
                            src="{{ genre.image.url }}"
                            alt="{{ genre.genre }}"
                            />
                            <div class="cover__image__content">
                            <span class="cover__title mb-1 fs-6 text-truncate"
                                >{{ genre.genre }}</span
                            >
                            </div>
                        </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
          <div class="swiper-button-prev btn-default rounded-pill"></div>
          <div class="swiper-button-next btn-default rounded-pill"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}