{% extends "base.html" %}
{% load static %}

{% block title %}پروفایل کاربر | Hip Hop Tweety{% endblock title %}

{% block description %}{% endblock description %}

{% block sidebar %}
<aside id="sidebar">
  <div
    class="sidebar-head d-flex align-items-center justify-content-between"
  >
    <a href="{% url "home:home" %}" class="brand external"
      ><img src="{% static "images/logos/logo.svg" %}" alt="Listen app" /> </a
    ><a
      href="javascript:void(0);"
      role="button"
      class="sidebar-toggler"
      aria-label="Sidebar toggler"
      ><div class="d-none d-lg-block">
        <i class="ri-menu-3-line sidebar-menu-1"></i>
        <i class="ri-menu-line sidebar-menu-2"></i>
      </div>
      <i class="ri-menu-fold-line d-lg-none"></i
    ></a>
  </div>
  <div class="sidebar-body" data-scroll="true">
    <nav class="navbar d-block p-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url "home:home" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-home-4-line fs-5"></i>
            <span class="ps-3">خانه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">دسته بندی</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a href="{% url "genres:genres" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-disc-line fs-5"></i>
            <span class="ps-3">سبک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url "musices:musices_list" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-music-2-line fs-5"></i>
            <span class="ps-3">موزیک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url "albomes:albomes_list" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-album-line fs-5"></i>
            <span class="ps-3">آلبوم ها</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">علاقمندی ها</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "favorites:favorites" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-heart-line fs-5"></i>
            <span class="ps-3">مورد علاقه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">اشتراک</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "subscription:plans" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-vip-crown-line fs-5"></i>
            <span class="ps-3">پلن ها</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
{% endblock sidebar %}

{% block main %}
    <div
      class="hero"
      style="background-image: url({% static "images/banner/event.jpg" %})"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div class="plan bg-light">
          <div class="card plan__info overflow-hidden">
            <div class="card-body d-flex flex-column p-0">
              <div class="p-4">
                <h4 class="mb-3">
                  طرح <span class="text-primary">انتخابی</span>
                </h4>
                <p class="fs-6">
                  اشتراک شما تا
                  <b>{{ subscription.validated_day }} روز</b>، دیگر به تمام میرسد
                </p>
                <a href="{% url "subscription:plans" %}" class="d-inline-flex align-items-center"
                  ><span class="fw-semi-bold pe-1">انتخاب طرح</span>
                  <i class="ri-arrow-right-line fs-6"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="plan__data">
            <div class="px-4 pt-2 ps-xl-0 pt-sm-0 mt-4 mb-3 my-sm-0 w-100">
              <form method="post" enctype="multipart/form-data" data-ajax="false">
                {% csrf_token %}
                <div class="d-flex align-items-center mb-4">
                    <div class="avatar avatar--xl">
                      <div class="avatar__image">
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" class="img-fluid" alt=""/>
                            {% else %}
                                <img src="{% static "images/users/user.png" %}" class="img-fluid" alt=""/>
                            {% endif %}
                      </div>
                    </div>
                    <div class="ps-3">
                      <input type="file" id="profile" class="d-none" name="image"/>
                      <label for="profile" class="btn btn-default rounded-pill"
                        >تغییر تصویر</label
                      >
                    </div>
                  </div>
                  <div class="row g-4">
                    <div class="col-sm-6">
                      <label for="f_name" class="form-label fw-medium"
                        >نام</label
                      >
                      <input
                        type="text"
                        id="f_name"
                        class="form-control"
                        name="f_name"
                        value="{{ profile.f_name}}"
                        placeholder="{{ profile.f_name}}"

                      />
                    </div>
                    <div class="col-sm-6">
                      <label for="l_name" class="form-label fw-medium"
                        >نام خانوادگی
                      </label>
                      <input
                        type="text"
                        id="l_name"
                        class="form-control"
                        name="l_name"
                        value="{{ profile.l_name }}"
                        placeholder="{{ profile.l_name}}"
                      />
                    </div>
                    <div class="col-sm-6">
                      <label for="d_name" class="form-label fw-medium"
                        >نام نمایشی
                      </label>
                      <input
                        type="text"
                        id="d_name"
                        name="commen_name"
                        class="form-control"
                        value="{{ profile.commen_name }}"
                        placeholder="{{ profile.commen_name }}"
                        
                      />
                    </div>
                    <div class="col-12">
                      <label for="about" class="form-label fw-medium"
                        >درباره</label
                      >
                      <textarea
                        name="bio"
                        id="about"
                        rows="5"
                        class="form-control"
                        placeholder="{{ profile.bio }}"
                        value="{{ profile.bio }}"
                        >
                        {{ profile.bio }}
                      </textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">
                        ذخیره تغییرات
                      </button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}