<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="Listen App - Online Music Streaming App Template"
    />
    <meta
      name="keywords"
      content="music template, music app, music web app, responsive music app, music, themeforest, html music app template, css3, html5"
    />
    <title>پلتفرم پخش آنلاین موزیک - Listen</title>
    <link href="images/logos/favicon.png" rel="icon" />
    <link rel="apple-touch-icon" href="images/logos/touch-icon-iphone.png" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="images/logos/touch-icon-ipad.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/logos/touch-icon-iphone-retina.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="images/logos/touch-icon-ipad-retina.png"
    />
    <link href="css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.bundle.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="loader" class="d-none">
      <div class="loader">
        <div class="loader__eq mx-auto">
          <span></span> <span></span> <span></span> <span></span> <span></span>
          <span></span>
        </div>
        <span class="loader__text mt-2">در حال بارگیری . . .</span>
      </div>
    </div>
    <div id="wrapper">
      <header id="main_header">
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <a href="home.html" class="brand external"
              ><img src="images/logos/logo.svg" alt="Listen app"
            /></a>
            <div class="d-flex align-items-center navbar-ex">
              <a class="btn btn-primary external" href="register.html"
                >رایگان امتحان کنید</a
              >
              <button
                class="navbar-toggler ms-3 ms-sm-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="ri-menu-3-fill"></i>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul
                class="navbar-nav mt-4 mt-lg-0 mx-auto fw-semi-bold text-right"
              >
                <li class="nav-item">
                  <a class="nav-link external" href="home.html">جستجو</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pricing">قیمت</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link external" href="about.html">درباره ما</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link external" href="blog.html">بلاگ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link external" href="contact.html"
                    >ارتباط با ما</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container-fluid px-xl-4">
        <div
          class="main-hero mx-auto"
          style="background-image: url(images/background/hero.jpg)"
        >
          <div class="container">
            <div class="col-xl-6 col-lg-8 col-md-9 fs-5">
              <h1 class="main-hero__title mb-3">
                موزیک برای پر کردن <span class="text-primary">قلب شما.</span>
              </h1>
              <div class="me-sm-5">
                <p>
                  لیست‌های پخش و آلبوم‌هایی را با الهام از هنرمندان و ژانرهایی
                  که فهرست می‌کنید دریافت کنید. 1 ماه اشتراک رایگان
                </p>
                <a class="btn btn-lg btn-default external" href="register.html"
                  >رایگان امتحان کنید</a
                >
                <a class="btn btn-lg btn-outline-dark external" href="home.html"
                  >جستجو</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-section">
        <div class="container">
          <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>ویژگی های <span class="text-primary">لِسِن</span></h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است،
            </p>
          </div>
          <div class="feature">
            <div class="row g-4 g-md-5">
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-blue)">
                      <i class="ri-music-2-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">میلیون ها موزیک</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-pink)">
                      <i class="ri-question-answer-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">بررسی و نظرات</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-purple)">
                      <i class="ri-calendar-event-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">رویداد های موزیک</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-indigo)">
                      <i class="ri-donut-chart-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">آنالیز داده ها</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-red)">
                      <i class="ri-radio-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">پخش زنده</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-orange)">
                      <i class="ri-vip-crown-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">طرح اشتراکی</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100 py-2">
                  <div class="card-body">
                    <div class="feature__icon" style="color: var(--bs-green)">
                      <i class="ri-user-4-fill fs-4"></i>
                    </div>
                    <h5 class="mt-4 mb-3">مدیریت کاربر</h5>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-section bg-light">
        <div class="container">
          <div
            class="d-sm-flex align-items-center justify-content-between text-center mb-5 dir-rtl"
          >
            <h2 class="mb-4 mb-sm-0">
              رویداد های <span class="text-primary">آینده</span>
            </h2>
            <a class="btn btn-outline-primary external" href="login.html"
              >جست و جو همه رویداد ها</a
            >
          </div>
          <div class="row g-4 g-md-5">
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <div class="cover__image">
                  <img
                    src="images/background/horizontal/2.jpg"
                    alt="Event cover"
                  />
                </div>
                <div class="cover__foot mt-3 px-2">
                  <p class="cover__subtitle d-flex mb-2">
                    <i class="ri-map-pin-fill fs-6"></i>
                    <span class="ms-1 fw-semi-bold"
                      >تهران ، سالن مجلل میلاد</span
                    >
                  </p>
                  <span class="cover__title fs-6 mb-3">جشن عید نوروز</span>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center">
                      <div class="avatar-group">
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-3.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-4.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-5.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="ps-1">24+</div>
                    </div>
                    <a href="login.html" class="btn btn-sm btn-light-primary"
                      >پیوستن</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <div class="cover__image">
                  <img
                    src="images/background/horizontal/3.jpg"
                    alt="Event cover"
                  />
                </div>
                <div class="cover__foot mt-3 px-2">
                  <p class="cover__subtitle d-flex mb-2">
                    <i class="ri-map-pin-fill fs-6"></i>
                    <span class="ms-1 fw-semi-bold"
                      >تهران ، سالن مجلل برج میلاد</span
                    >
                  </p>
                  <span class="cover__title fs-6 mb-3">کنسرت محسن چاوشی</span>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center">
                      <div class="avatar-group">
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-2.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-3.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="ps-1">40+</div>
                    </div>
                    <a href="login.html" class="btn btn-sm btn-light-primary"
                      >پیوستن</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <div class="cover__image">
                  <img
                    src="images/background/horizontal/1.jpg"
                    alt="Event cover"
                  />
                </div>
                <div class="cover__foot mt-3 px-2">
                  <p class="cover__subtitle d-flex mb-2">
                    <i class="ri-map-pin-fill fs-6"></i>
                    <span class="ms-1 fw-semi-bold">تهران ، میدان ولی عصر</span>
                  </p>
                  <span class="cover__title fs-6 mb-3"
                    >کنسرت خیابانی سیروان خسروی</span
                  >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center">
                      <div class="avatar-group">
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-2.jpg" alt="" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="avatar__image">
                            <img src="images/users/thumb-3.jpg" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="ps-1">40+</div>
                    </div>
                    <a href="login.html" class="btn btn-sm btn-light-primary"
                      >پیوستن</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="pricing" class="main-section">
        <div class="container">
          <div class="text-center mb-5">
            <h2>طرح های <span class="text-primary">متنوع</span></h2>
          </div>
          <div class="col-xl-11 col-lg-8 mx-auto pt-4">
            <div class="plan bg-light">
              <div class="card plan__info overflow-hidden">
                <div class="card-body d-flex flex-column p-0">
                  <div class="p-4">
                    <h4 class="mb-3">
                      اشتراک <span class="text-primary">رایگان</span>
                    </h4>
                    <p class="fs-6">
                      برای تجربه موسیقی عالی، طرح اشتراک <b> رایگان</b> 30 روزه
                      را دریافت کنید.
                    </p>
                    <a
                      href="register.html"
                      class="d-inline-flex align-items-center"
                      ><span class="me-1">حالا ثبت نام کنید</span>
                      <i class="ri-arrow-right-line fs-6"></i
                    ></a>
                  </div>
                  <div class="px-3 text-center mt-auto">
                    <img src="images/misc/plan.png" class="img-fluid" alt="" />
                  </div>
                </div>
              </div>
              <div class="plan__data">
                <div class="card plan__col">
                  <div class="card-body fw-medium">
                    <div class="d-flex align-items-center text-dark mb-4">
                      <i class="ri-music-2-line fs-3"></i>
                      <h4 class="mb-0 ps-3">
                        اشتراک <span class="text-primary">پلاس</span>
                      </h4>
                    </div>
                    <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">دسترسی به تمام موزیک ها</span>
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">بدون تبلیغات</span>
                    </div>
                  </div>
                  <div class="card-footer pb-4 pb-sm-0">
                    <div class="text-dark mb-3">
                      <span class="fs-4 fw-bold">110 هزار تومان</span>/سالانه
                    </div>
                    <button type="button" class="btn btn-primary w-100">
                      انتخاب
                    </button>
                  </div>
                </div>
                <div class="card plan__col">
                  <div class="card-body fw-medium">
                    <div class="d-flex align-items-center text-dark mb-4">
                      <i class="ri-vip-crown-line fs-3"></i>
                      <h4 class="mb-0 ps-3">ویژه</h4>
                    </div>
                    <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">دسترسی به تمام موزیک ها</span>
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">بدون تبلیغات</span>
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2"
                        >ایجاد لیست پخش و دسترسی به بخش آمار</span
                      >
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">گوش دادن به موزیک های پولی</span>
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">دانلود آفلاین موزیک ها</span>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-dark mb-3">
                      <span class="fs-4 fw-bold">200 هزار تومان</span>/سالانه
                    </div>
                    <button type="button" class="btn btn-primary w-100">
                      انتخاب
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-section bg-light">
        <div class="container">
          <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>محبوب ترین <span class="text-primary">هنرمندان</span></h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است،
            </p>
          </div>
          <div class="swiper-carousel swiper-carousel-button">
            <div
              dir="rtl"
              class="swiper"
              data-swiper-slides="6"
              data-swiper-autoplay="true"
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/1.jpg" alt="محسن چاوشی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >محسن چاوشی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/2.jpg" alt="علی یاسینی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >علی یاسینی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/3.jpg" alt="محسن چاوشی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >محسن چاوشی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/4.jpg" alt="علی یاسینی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >علی یاسینی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/5.jpg" alt="مهدی احمدوند"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >مهدی احمدوند</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/6.jpg" alt="محسن چاوشی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >محسن چاوشی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/7.jpg" alt="محسن چاوشی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >محسن چاوشی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/8.jpg" alt="محسن چاوشی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >محسن چاوشی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img
                          src="images/cover/large/9.jpg"
                          alt="عرفان طهماسبی"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >عرفان طهماسبی</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                      <a href="artist-details.html"
                        ><img src="images/cover/large/10.jpg" alt="امو بند"
                      /></a>
                    </div>
                    <a href="artist-details.html" class="avatar__title mt-3"
                      >امو بند</a
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-section">
        <div class="container">
          <div
            class="d-sm-flex align-items-center justify-content-between text-center mb-5 dir-rtl"
          >
            <h2 class="mb-4 mb-sm-0">
              آخرین <span class="text-primary">مقالات</span>
            </h2>
            <a class="btn btn-outline-primary external" href="blog.html"
              >جستجو همه مطالب</a
            >
          </div>
          <div class="row g-4 g-md-5">
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <a href="blog-details.html" class="cover__image"
                  ><img
                    src="images/background/horizontal/4.jpg"
                    alt="Blog cover"
                /></a>
                <div class="cover__foot mt-3 px-2">
                  <span class="cover__subtitle fw-medium mb-3"
                    >ادمین - دی 20، 1398</span
                  >
                  <h5>
                    <a href="blog-details.html" class="cover__title">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <a href="blog-details.html" class="cover__image"
                  ><img
                    src="images/background/horizontal/5.jpg"
                    alt="Blog cover"
                /></a>
                <div class="cover__foot mt-3 px-2">
                  <span class="cover__subtitle fw-medium mb-3"
                    >ادمین - دی 20، 1398</span
                  >
                  <h5>
                    <a href="blog-details.html" class="cover__title">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cover cover--round">
                <a href="blog-details.html" class="cover__image"
                  ><img
                    src="images/background/horizontal/6.jpg"
                    alt="Blog cover"
                /></a>
                <div class="cover__foot mt-3 px-2">
                  <span class="cover__subtitle fw-medium mb-3"
                    >ادمین - دی 20، 1398</span
                  >
                  <h5>
                    <a href="blog-details.html" class="cover__title">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                      و با استفاده از طراحان گرافیک است،
                    </a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="newsبی حسی text-white">
          <div class="col-xl-7 col-lg-10 fs-5 mx-auto text-center">
            <h2 class="text-white">
              به لِسِن <span class="newsبی حسی__title-text">بپیوندید</span>
            </h2>
            <p class="text-center">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است،
            </p>
            <a href="register.html" class="btn btn-lg btn-default external mt-3"
              >حالا ثبت نام کنید</a
            >
          </div>
        </div>
      </div>
      <footer id="main_footer">
        <div class="container">
          <div class="col-xl-6 col-lg-8 col-md-10 mx-auto text-center">
            <h3 class="mb-5">
              <span class="text-primary">میلیون ها موزیک</span> که با اطلاعات
              اولیه خود به آنها دسترسی دارید.
            </h3>
            <div class="app-btn-group">
              <a href="#" class="btn btn-lg btn-default"
                ><div class="btn__wrap">
                  <i class="ri-google-play-fill"></i>
                  <span class="ms-2">Google Play</span>
                </div></a
              ><a href="#" class="btn btn-lg btn-default"
                ><div class="btn__wrap">
                  <i class="ri-app-store-fill"></i>
                  <span class="ms-2">App Store</span>
                </div></a
              >
            </div>
          </div>
          <div class="last-footer py-4">
            <span>&copy;تمامی حقوق محفوظ است</span>
            <ul class="social">
              <li>
                <a href="#"><i class="ri-facebook-fill fs-6"></i></a>
              </li>
              <li>
                <a href="#"><i class="ri-twitter-fill fs-6"></i></a>
              </li>
              <li>
                <a href="#"><i class="ri-instagram-fill fs-6"></i></a>
              </li>
              <li>
                <a href="#"><i class="ri-pinterest-fill fs-6"></i></a>
              </li>
              <li>
                <a href="#"><i class="ri-youtube-fill fs-6"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="../js/plugins.bundle.js"></script>
    <script src="../js/scripts.bundle.js"></script>
  </body>
</html>
