{% extends 'base.html' %}
{% load static %}

{% block title %}موزیک {{ music.title }} از {{ music.artist }} | Hip Hop Tweety{% endblock title %}

{% block description %}{% endblock description %}

{% block sidebar %}
<aside id="sidebar">
  <div
    class="sidebar-head d-flex align-items-center justify-content-between"
  >
    <a href="{% url "home:home" %}" class="brand external"
      ><img src="{% static "images/logos/logo.svg" %}" alt="Listen app" /> </a
    ><a
      href="javascript:void(0);"
      role="button"
      class="sidebar-toggler"
      aria-label="Sidebar toggler"
      ><div class="d-none d-lg-block">
        <i class="ri-menu-3-line sidebar-menu-1"></i>
        <i class="ri-menu-line sidebar-menu-2"></i>
      </div>
      <i class="ri-menu-fold-line d-lg-none"></i
    ></a>
  </div>
  <div class="sidebar-body" data-scroll="true">
    <nav class="navbar d-block p-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url "home:home" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-home-4-line fs-5"></i>
            <span class="ps-3">خانه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">دسته بندی</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a href="{% url "genres:genres" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-disc-line fs-5"></i>
            <span class="ps-3">سبک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url "musices:musices_list" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-music-2-line fs-5"></i>
            <span class="ps-3">موزیک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url "albomes:albomes_list" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-album-line fs-5"></i>
            <span class="ps-3">آلبوم ها</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">هنرمندان</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="artists.html"
            class="nav-link d-flex align-items-center"
            ><i class="ri-mic-line fs-5"></i>
            <span class="ps-3">هنرمندان</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">علاقمندی ها</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "favorites:favorites" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-heart-line fs-5"></i>
            <span class="ps-3">مورد علاقه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">اشتراک</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "subscription:plans" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-vip-crown-line fs-5"></i>
            <span class="ps-3">پلن ها</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
{% endblock sidebar %}

{% block main %}
<main id="page_content">
    <div
      class="hero"
      style="background-image: url({{ music.banner.url }})"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div
          class="row"
          data-song-id="{{ music.id }}"
          data-song-name="{{ music.title }}"
          data-song-artist="{{ music.artist }}"
          data-song-album="{{ music.albom_musics.title }}"
          data-song-url="{{ music.music_file.url }}"
          data-song-cover="{{ music.image.url }}"
        >
          <div class="col-xl-3 col-md-4">
            <div class="cover cover--round">
              <div class="cover__image">
                <img src="{{ music.image.url }}" alt="{{ music.title }}" />
              </div>
            </div>
          </div>
          <div class="col-1 d-none d-xl-block"></div>
          <div class="col-md-8 mt-5 mt-md-0">
            <div class="d-flex flex-wrap mb-2">
              <span class="text-dark fs-4 fw-semi-bold pe-2">{{ music.artist }}</span>
              <div class="dropstart d-inline-flex ms-auto">
                <a
                  class="dropdown-link"
                  href="javascript:void(0);"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-label="Cover options"
                  aria-expanded="false"
                  ><i class="ri-more-fill"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      data-queue-id="{{ music.id }}"
                      >افزودن به لیست</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      data-next-id="{{ music.id }}"
                      >بعدی برای پخش</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      >اشتراک</a
                    >
                  </li>
                  <li class="dropdown-divider"></li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      data-play-id="{{ music.id }}"
                      >پخش</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <ul class="info-list info-list--dotted mb-3">
              <li>{{ music.genre }}</li>
              <li>{{ music.music_time }}</li>
              <li>{{ music.release_date }}</li>
            </ul>
            <div class="mb-4">
              <p class="mb-2">
                آهنگساز:
                <span class="text-dark fw-medium">{{ music.composer }}</span>
              </p>
              <p class="mb-2">
                ترانه سرا:
                <span class="text-dark fw-medium">{{ music.songwriter }}</span>
              </p>
              <p class="mb-2 text-right">
                تنظیم کننده:
                <span class="text-dark fw-medium">{{ music.regulators }}</span>
              </p>
            </div>
            <ul class="info-list mb-5">
              <li>
                <div class="d-flex align-items-center">
                  <button
                    type="button"
                    id="play_all"
                    class="btn btn-icon btn-primary rounded-pill"
                    data-play-id="{{ music.id }}"
                  >
                    <i class="ri-play-fill icon-play"></i>
                    <i class="ri-pause-fill icon-pause"></i>
                  </button>
                  <span class="ps-2 fw-semi-bold">{{ music.plays }}</span>
                </div>
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  role="button"
                  class="text-dark d-flex align-items-center"
                  aria-label="Favorite"
                  data-favorite-id="{{ music.id }}"
                  ><i class="ri-heart-line heart-empty"></i>
                  <i class="ri-heart-fill heart-fill"></i>
                  <span class="ps-2 fw-medium">{{ music.likes }}</span></a
                >
              </li>
              <li>
                <span class="text-dark d-flex align-items-center"
                  ><i class="ri-star-fill text-warning"></i>
                  <span class="ps-2 fw-medium">4.5</span></span
                >
              </li>
            </ul>
            <div class="mt-2 text-right">
              <span class="d-block text-dark fs-6 fw-semi-bold mb-3">متن موزیک</span>
              <p>
               {{ music.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section__head">
          <h3 class="mb-0">
            موزیک های <span class="text-primary">مرتبط</span>
          </h3>
        </div>
        <div class="swiper-carousel swiper-carousel-button">
          <div
            dir="rtl"
            class="swiper"
            data-swiper-slides="5"
            data-swiper-autoplay="true"
          >
            <div class="swiper-wrapper">
              {% comment %} Related musices slider  {% endcomment %}
              {% for music in related_musices %}
                <div class="swiper-slide">
                    <div
                    class="cover cover--round"
                    data-song-id="{{ music.id }}"
                    data-song-name="{{ music.title }}"
                    data-song-artist="{{ music.artist }}"
                    data-song-album="{{ music.albom_musics.title }}"
                    data-song-url="{{ music.music_file.url }}"
                    data-song-cover="{{ music.image.url }}"
                    >
                        <div class="cover__head">
                            <ul class="cover__label d-flex">
                                <li>
                                    <span class="badge rounded-pill bg-danger"
                                    ><i class="ri-heart-fill"></i
                                    ></span>
                                </li>
                            </ul>
                            <div class="cover__options dropstart d-inline-flex ms-auto">
                                <a class="dropdown-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-label="Cover options" aria-expanded="false">
                                    <i class="ri-more-2-fill"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-sm">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            role="button"
                                            data-favorite-id="{{ music.id }}"
                                            >مورد علاقه</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            role="button"
                                            data-queue-id="{{ music.id }}"
                                            >افزودن به لیست</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            role="button"
                                            data-next-id="{{ music.id }}"
                                            >بعدی برای پخش</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            role="button"
                                            >اشتراک</a
                                        >
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            role="button"
                                            data-play-id="{{ music.id }}"
                                            >پخش</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cover__image">
                            <img src="{{ music.image.url }}" alt="{{ music.title }}" />
                            <button
                            type="button"
                            class="btn btn-play btn-default btn-icon rounded-pill"
                            data-play-id="{{ music.id }}"
                            >
                            <i class="ri-play-fill icon-play"></i>
                            <i class="ri-pause-fill icon-pause"></i>
                            </button>
                        </div>
                        <div class="cover__foot">
                            <a
                            href="{{ music.get_absolute_url }}"
                            class="cover__title text-truncate"
                            >{{ music.title }}</a
                            >
                            <p class="cover__subtitle text-truncate">
                            <a href="artist-details.html">{{ music.artist }}</a>
                            </p>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-prev btn-default rounded-pill"></div>
          <div class="swiper-button-next btn-default rounded-pill"></div>
        </div>
      </div>
      <div class="section">
        <div class="section__head"><h3 class="mb-0">نظرات</h3></div>
        <div class="row">
          <div class="col-xl-8">
            {% comment %} Comments form started{% endcomment %}
              {% if user.is_authenticated %}
                <form action="#" method="post" class="row mb-5">
                  {% csrf_token %}
                  <div class="col-12 mb-3 d-flex align-items-center">
                    <span class="form-label mb-0">امتیاز:</span>
                    <div class="ps-2">
                      <select
                        class="form-select"
                        style="min-width: 100px"
                        aria-label="Select ratings"
                        name="score"
                      >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mb-4">
                    {{ form.comment }}
                  </div>
                  <div class="col-12">
                    <button
                      type="submite"
                      class="btn btn-primary"
                      style="min-width: 160px"
                    >
                      ثبت
                    </button>
                  </div>
                </form>
              {% else %}
              <div class="col-12">
                <span class="d-block text-dark fs-6 fw-semi-bold mb-3">
                  برای ثبت نظر نیاز به <span class="text-primary"> حساب کاربری</span> دارید.
                </span>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="min-width: 160px"
                >
                  ورود
                </button>
              </div>
              <br>
              {% endif %}
            {% comment %} Comments form ended {% endcomment %}
            {% for comment in music.music_comments.all %}
              <div class="avatar avatar--lg align-items-start">
                <div class="avatar__image">
                  {% if request.user.user_profile.image %}
                    <img src="{{ request.user.user_profile.image.url }}" alt="user"/>
                  {% else %}
                    <img src="{% static "images/users/user.png" %}" alt="user"/>
                  {% endif %}
                </div>
                <div class="avatar__content">
                  <span class="avatar__title mb-1">{{ request.user.username }}</span>
                  <span class="avatar__subtitle mb-2">{{ comment.created }}</span>
                  <div class="text-warning d-flex mb-1">
                    <i class="ri-star-s-fill"></i>
                  </div>
                  <p>
                    {{ comment.text }}
                  </p>
                  {% comment %} Reply {% endcomment %}
                  {% for reply in comment.comment_replies.all %}
                    <div class="avatar avatar--lg align-items-start mt-4">
                      <div class="avatar__image">
                          {% if request.user.user_profile.image %}
                            <img src="{{ request.user.user_profile.image.url }}" alt="user"/>
                          {% else %}
                            <img src="{% static "images/users/user.png" %}" alt="user"/>
                          {% endif %}
                      </div>
                      <div class="avatar__content">
                        <span class="avatar__title">{{ reply.user.username }}</span>
                        <span class="avatar__subtitle mb-2">{{ reply.created }}</span>
                        <p>
                          {{ reply.reply }}
                        </p>
                      </div>
                    </div>
                  {% endfor %}
                  <br>
                  {% comment %} Reply form {% endcomment %}
                  <a href="javascript:void(0);" class="btn btn-link">
                    <div class="btn__wrap">
                      {% if user.is_authenticated %}
                        <form action="{% url 'musices:music_comment_reply' music.slug comment.id %}" method="post" class="row mb-5">
                          {% csrf_token %}
                          <div class="col-12 mb-4">
                            {{ reply.reply }}
                          </div>
                          <div class="col-12">
                            <button
                              type="submite"
                              class="btn btn-primary"
                              style="min-width: 160px"
                            >
                            <i class="ri-reply-line fs-6"></i> <span>پاسخ</span>
                            </button>
                          </div>
                        </form>
                    {% else %}
                      <div class="col-12">
                        <span class="d-block text-dark fs-6 fw-semi-bold mb-3">
                          برای پاسخ نیاز به <span class="text-primary"> حساب کاربری</span> دارید.
                        </span>
                        <button
                          type="button"
                          class="btn btn-primary"
                          style="min-width: 160px"
                        >
                          ورود
                        </button>
                      </div>
                      <br>
                    {% endif %}                    
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-xl-4"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}