{% extends "base.html" %}
{% load static %}

{% block sidebar %}

{% endblock sidebar %}


{% block main %}
<main id="page_content">
    <div
      class="hero"
      style="background-image: url(images/banner/event.jpg)"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div class="plan bg-light">
          <div class="card plan__info overflow-hidden">
            <div class="card-body d-flex flex-column p-0">
              <div class="p-4">
                <h4 class="mb-3">
                  اشتراک <span class="text-primary">رایگان</span>
                </h4>
                <p class="fs-6">
                  طرح اشتراک <b> رایگان</b> شما ظرف 10 روز پایان می‌یابد،
                  لطفاً طرح خود را انتخاب کنید.
                </p>
              </div>
              <div class="px-3 text-center mt-auto">
                <img src="images/misc/plan.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
          <div class="plan__data">
            <div class="card plan__col">
              <div class="card-body fw-medium">
                <div class="d-flex align-items-center text-dark mb-4">
                  <i class="ri-music-2-line fs-3"></i>
                  <h4 class="mb-0 ps-3">
                    اشتراک <span class="text-primary">پلاس</span>
                  </h4>
                </div>
                <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">دسترسی به تمام موزیک ها</span>
                </div>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">بدون تبلیغات</span>
                </div>
              </div>
              <div class="card-footer pb-4 pb-sm-0">
                <div class="text-dark mb-3">
                  <span class="fs-4 fw-bold">110 هزار تومان</span>/سالانه
                </div>
                <button type="button" class="btn btn-primary w-100">
                  انتخاب
                </button>
              </div>
            </div>
            <div class="card plan__col">
              <div class="card-body fw-medium">
                <div class="d-flex align-items-center text-dark mb-4">
                  <i class="ri-vip-crown-line fs-3"></i>
                  <h4 class="mb-0 ps-3">ویژه</h4>
                </div>
                <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">دسترسی به تمام موزیک ها</span>
                </div>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">بدون تبلیغات</span>
                </div>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2"
                    >ایجاد لیست پخش و دسترسی به بخش آمار</span
                  >
                </div>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">گوش دادن به موزیک های پولی</span>
                </div>
                <div class="d-flex mb-3">
                  <i
                    class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                  ></i>
                  <span class="ps-2">دانلود آفلاین موزیک ها</span>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-dark mb-3">
                  <span class="fs-4 fw-bold">200 هزار تومان</span>/سالانه
                </div>
                <button type="button" class="btn btn-primary w-100">
                  انتخاب
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock main %}