{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<aside id="sidebar">
    <div
      class="sidebar-head d-flex align-items-center justify-content-between"
    >
      <a href="home.html" class="brand external"
        ><img src="images/logos/logo.svg" alt="Listen app" /> </a
      ><a
        href="javascript:void(0);"
        role="button"
        class="sidebar-toggler"
        aria-label="Sidebar toggler"
        ><div class="d-none d-lg-block">
          <i class="ri-menu-3-line sidebar-menu-1"></i>
          <i class="ri-menu-line sidebar-menu-2"></i>
        </div>
        <i class="ri-menu-fold-line d-lg-none"></i
      ></a>
    </div>
    <div class="sidebar-body" data-scroll="true">
      <nav class="navbar d-block p-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              href="home.html"
              class="nav-link d-flex align-items-center active"
              ><i class="ri-home-4-line fs-5"></i>
              <span class="ps-3">خانه</span></a
            >
          </li>
          <li class="nav-item">
            <a href="genres.html" class="nav-link d-flex align-items-center"
              ><i class="ri-disc-line fs-5"></i>
              <span class="ps-3">ژانر</span></a
            >
          </li>
          <li class="nav-item">
            <a href="music.html" class="nav-link d-flex align-items-center"
              ><i class="ri-music-2-line fs-5"></i>
              <span class="ps-3">موزیک رایگان</span></a
            >
          </li>
          <li class="nav-item">
            <a href="albums.html" class="nav-link d-flex align-items-center"
              ><i class="ri-album-line fs-5"></i>
              <span class="ps-3">آلبوم ها</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="artists.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-mic-line fs-5"></i>
              <span class="ps-3">هنرمندان</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="stations.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-radio-2-line fs-5"></i>
              <span class="ps-3">ایستگاه موزیک</span></a
            >
          </li>
          <li class="nav-item nav-item--head">
            <span class="nav-item--head__text">موزیک</span>
            <span class="nav-item--head__dots">...</span>
          </li>
          <li class="nav-item">
            <a
              href="analytics.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-pie-chart-line fs-5"></i>
              <span class="ps-3">آنالیز ها</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="favorites.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-heart-line fs-5"></i>
              <span class="ps-3">مورد علاقه</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="history.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-history-line fs-5"></i>
              <span class="ps-3">تاریخچه</span></a
            >
          </li>
          <li class="nav-item nav-item--head">
            <span class="nav-item--head__text">رویداد ها</span>
            <span class="nav-item--head__dots">...</span>
          </li>
          <li class="nav-item">
            <a href="events.html" class="nav-link d-flex align-items-center"
              ><i class="ri-calendar-event-line fs-5"></i>
              <span class="ps-3">رویداد ها</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="event-details.html"
              class="nav-link d-flex align-items-center"
              ><i class="ri-newspaper-line fs-5"></i>
              <span class="ps-3">جزئیات رویداد</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
</aside>
{% endblock sidebar %}

{% block main %}
<main id="page_content">
    <div
      class="hero"
      style="background-image: url({{ albome.banner.url }})"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div class="row align-items-center">
          <div class="col-xl-3 col-md-4">
            <div class="cover cover--round">
              <div class="cover__image">
                <img src="{{ albome.image.url }}" alt="{{ albome.title }}" />
              </div>
            </div>
          </div>
          <div class="col-1 d-none d-xl-block"></div>
          <div class="col-md-8 mt-5 mt-md-0">
            <div class="d-flex flex-wrap mb-2">
              <span class="text-dark fs-4 fw-semi-bold pe-2">{{ albome.title }}</span>
              <div class="dropstart d-inline-flex ms-auto">
                <a
                  class="dropdown-link"
                  href="javascript:void(0);"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-label="Cover options"
                  aria-expanded="false"
                  ><i class="ri-more-fill"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      >افزودن به لیست</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      >افزودن به صف</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      >بعدی برای پخش</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      >اشتراک</a
                    >
                  </li>
                  <li class="dropdown-divider"></li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="javascript:void(0);"
                      role="button"
                      data-collection-play-id="{{ albome.id }}"
                      >پخش</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <ul class="info-list info-list--dotted mb-3">
              <li>آلبوم</li>
              <li>10 موزیک</li>
              <li>01:21:41</li>
              <li>{{ albome.singer }}</li>
            </ul>
            <p class="mb-5">
              توسط:

              <a href="artist-details.html" class="text-dark fw-medium"
                >{{ albome.singer }}</a
              >
            </p>
            <ul class="info-list">
              <li>
                <div class="d-flex align-items-center">
                  <button
                    type="button"
                    id="play_all"
                    class="btn btn-icon btn-primary rounded-pill"
                    data-collection-play-id="{{ albome.id }}"
                  >
                    <i class="ri-play-fill icon-play"></i>
                    <i class="ri-pause-fill icon-pause"></i>
                  </button>
                  <label
                    for="play_all"
                    class="ps-2 fw-semi-bold text-primary mb-0"
                    style="cursor: pointer"
                    >پخش همه</label
                  >
                </div>
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  role="button"
                  class="text-dark d-flex align-items-center"
                  aria-label="Favorite"
                  data-favorite-id="{{ albome.id }}"
                  ><i class="ri-heart-line heart-empty"></i>
                  <i class="ri-heart-fill heart-fill"></i>
                  <span class="ps-2 fw-medium">{{ albome.likes }}</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  role="button"
                  class="text-dark d-flex align-items-center"
                  aria-label="Download"
                  ><i class="ri-download-2-line"></i>
                  <span class="ps-2 fw-medium">24</span></a
                >
              </li>
              <li>
                <span class="text-dark d-flex align-items-center"
                  ><i class="ri-star-fill text-warning"></i>
                  <span class="ps-2 fw-medium">4.5</span></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="list">
          <div class="row" data-collection-song-id="{{ albome.id }}">
            <div class="col-xl-12">
                {% for musices in albome.albom_musics.all %}
                    <div
                    class="list__item"
                    data-song-id="{{ musices.music.id }}"
                    data-song-name="{{ musices.music.title }}"
                    data-song-artist="{{ musices.music.artist }}"
                    data-song-album="{{ musices.music.title }}"
                    data-song-url="{{ musices.music.music_file.url }}"
                    data-song-cover="{{ musices.music.image.url }}"
                    >
                        <div class="list__cover">
                            <img src="{{ musices.music.image.url }}" alt="{{ musices.music.title }}" />
                            <a
                                href="javascript:void(0);"
                                class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
                                data-play-id="1"
                                aria-label="Play pause"
                                ><i class="ri-play-fill icon-play"></i>
                                <i class="ri-pause-fill icon-pause"></i
                            ></a>
                        </div>
                        <div class="list__content">
                            <a
                                href="song-details.html"
                                class="list__title text-truncate"
                                >{{ musices.music.title }}</a
                            >
                            <p class="list__subtitle text-truncate">
                                <a href="artist-details.html">{{ musices.music.artist }}</a>
                            </p>
                        </div>
                        <ul class="list__option">
                            <li>
                                <a
                                href="javascript:void(0);"
                                role="button"
                                class="d-inline-flex"
                                aria-label="Favorite"
                                data-favorite-id="1"
                                ><i class="ri-heart-line heart-empty"></i>
                                <i class="ri-heart-fill heart-fill"></i
                                ></a>
                            </li>
                            <li>{{ musices.music.music_time }}</li>
                            <li class="dropstart d-inline-flex">
                                <a
                                class="dropdown-link"
                                href="javascript:void(0);"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-label="Cover options"
                                aria-expanded="false"
                                ><i class="ri-more-fill"></i
                                ></a>
                                <ul class="dropdown-menu dropdown-menu-sm">
                                <li>
                                    <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    role="button"
                                    data-queue-id="{{ musices.music.id }}"
                                    >افزودن به لیست</a
                                    >
                                </li>
                                <li>
                                    <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    role="button"
                                    data-next-id="{{ musices.music.id }}"
                                    >بعدی برای پخش</a
                                    >
                                </li>
                                <li>
                                    <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    role="button"
                                    >اشتراک</a
                                    >
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    role="button"
                                    data-play-id="1"
                                    >پخش</a
                                    >
                                </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section__head">
          <h3 class="mb-0">
            آلبوم های <span class="text-primary">مرتبط</span>
          </h3>
        </div>
        <div class="swiper-carousel swiper-carousel-button">
          <div
            dir="rtl"
            class="swiper"
            data-swiper-slides="5"
            data-swiper-autoplay="true"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <ul class="cover__label d-flex">
                      <li>
                        <span class="badge rounded-pill bg-danger"
                          ><i class="ri-heart-fill"></i
                        ></span>
                      </li>
                    </ul>
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="100"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-1.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/1.jpg" alt="تو"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >تو</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html">عرفان طهماسبی</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <ul class="cover__label d-flex">
                      <li>
                        <span class="badge rounded-pill bg-info"
                          ><i class="ri-vip-crown-fill"></i
                        ></span>
                      </li>
                    </ul>
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="101"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-2.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/2.jpg" alt="نصف شب"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >نصف شب</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html">علی یاسینی</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="102"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-3.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/3.jpg" alt="رهایم کن"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >رهایم کن</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html"> محسن چاوشی</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <ul class="cover__label d-flex">
                      <li>
                        <span class="badge rounded-pill bg-danger"
                          ><i class="ri-heart-fill"></i
                        ></span>
                      </li>
                      <li>
                        <span class="badge rounded-pill bg-info"
                          ><i class="ri-vip-crown-fill"></i
                        ></span>
                      </li>
                    </ul>
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="103"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-4.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/4.jpg" alt="بعد از رفتن"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >بعد از رفتن</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html">روزبه بمانی</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <ul class="cover__label d-flex">
                      <li>
                        <span class="badge rounded-pill bg-info"
                          ><i class="ri-vip-crown-fill"></i
                        ></span>
                      </li>
                    </ul>
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="104"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-5.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/5.jpg" alt="بی حسی"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >بی حسی</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html"> مهدی احمدوند</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <ul class="cover__label d-flex">
                      <li>
                        <span class="badge rounded-pill bg-info"
                          ><i class="ri-vip-crown-fill"></i
                        ></span>
                      </li>
                    </ul>
                    <div
                      class="cover__options dropstart d-inline-flex ms-auto"
                    >
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="ri-more-2-fill"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-favorite-id="105"
                            >مورد علاقه</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="audio/ringtone-6.mp3"
                            download
                            >دانلود</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a class="dropdown-item" href="album-details.html"
                            >نمایش جزئیات</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="album-details.html" class="cover__image"
                    ><img src="images/cover/large/6.jpg" alt="دفتر ماه"
                  /></a>
                  <div class="cover__foot">
                    <a
                      href="album-details.html"
                      class="cover__title text-truncate"
                      >دفتر ماه</a
                    >
                    <p class="cover__subtitle text-truncate">
                      <a href="artist-details.html">محسن چاوشی</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev btn-default rounded-pill"></div>
          <div class="swiper-button-next btn-default rounded-pill"></div>
        </div>
      </div>
      <div class="section">
        <div class="section__head"><h3 class="mb-0">نظرات</h3></div>
        <div class="row">
          <div class="col-xl-8">
            {% comment %} Comments form started{% endcomment %}
              {% if user.is_authenticated %}
                <form action="{% url 'albomes:add_comment' albome.slug albome.id %}" method="post" class="row mb-5">
                  {% csrf_token %}
                  <div class="col-12 mb-3 d-flex align-items-center">
                    <span class="form-label mb-0">امتیاز:</span>
                    <div class="ps-2">
                      <select
                        class="form-select"
                        style="min-width: 100px"
                        aria-label="Select ratings"
                        name="score"
                      >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mb-4">
                    {{ form.comment }}
                  </div>
                  <div class="col-12">
                    <button
                      type="submite"
                      class="btn btn-primary"
                      style="min-width: 160px"
                    >
                      ثبت
                    </button>
                  </div>
                </form>
              {% else %}
              <div class="col-12">
                <span class="d-block text-dark fs-6 fw-semi-bold mb-3">
                  برای ثبت نظر نیاز به <span class="text-primary"> حساب کاربری</span> دارید.
                </span>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="min-width: 160px"
                >
                  ورود
                </button>
              </div>
              <br>
              {% endif %}
            {% comment %} Comments form ended {% endcomment %}
            {% for comment in albome.albome_comments.all %}
              <div class="avatar avatar--lg align-items-start">
                <div class="avatar__image">
                  {% if request.user.user_profile.image %}
                    <img src="{{ request.user.user_profile.image.url }}" alt="user"/>
                  {% else %}
                    <img src="{% static "images/users/user.png" %}" alt="user"/>
                  {% endif %}
                </div>
                <div class="avatar__content">
                  <span class="avatar__title mb-1">{{ request.user.username }}</span>
                  <span class="avatar__subtitle mb-2">{{ comment.created }}</span>
                  <div class="text-warning d-flex mb-1">
                    <i class="ri-star-s-fill"></i>
                  </div>
                  <p>
                    {{ comment.text }}
                  </p>
                  {% comment %} Reply {% endcomment %}
                  {% for reply in comment.albome_comment_replies.all %}
                    <div class="avatar avatar--lg align-items-start mt-4">
                      <div class="avatar__image">
                          {% if request.user.user_profile.image %}
                            <img src="{{ request.user.user_profile.image.url }}" alt="user"/>
                          {% else %}
                            <img src="{% static "images/users/user.png" %}" alt="user"/>
                          {% endif %}
                      </div>
                      <div class="avatar__content">
                        <span class="avatar__title">{{ reply.user.username }}</span>
                        <span class="avatar__subtitle mb-2">{{ reply.created }}</span>
                        <p>
                          {{ reply.reply }}
                        </p>
                      </div>
                    </div>
                  {% endfor %}
                  <br>
                  {% comment %} Reply form {% endcomment %}
                  <a href="javascript:void(0);" class="btn btn-link">
                    <div class="btn__wrap">
                      {% if user.is_authenticated %}
                        <form action="{% url 'albomes:add_reply' albome.slug comment.id %}" method="post" class="row mb-5">
                          {% csrf_token %}
                          <div class="col-12 mb-4">
                            {{ reply.reply }}
                          </div>
                          <div class="col-12">
                            <button
                              type="submite"
                              class="btn btn-primary"
                              style="min-width: 160px"
                            >
                            <i class="ri-reply-line fs-6"></i> <span>پاسخ</span>
                            </button>
                          </div>
                        </form>
                    {% else %}
                      <div class="col-12">
                        <span class="d-block text-dark fs-6 fw-semi-bold mb-3">
                          برای پاسخ نیاز به <span class="text-primary"> حساب کاربری</span> دارید.
                        </span>
                        <button
                          type="button"
                          class="btn btn-primary"
                          style="min-width: 160px"
                        >
                          ورود
                        </button>
                      </div>
                      <br>
                    {% endif %}                    
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-xl-4"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}