{% extends "base.html" %}
{% load static %}

{% block title %}طرح های اشتراک | Hip Hop Tweety{% endblock title %}

{% block description %}{% endblock description %}

{% block sidebar %}
<aside id="sidebar">
  <div
    class="sidebar-head d-flex align-items-center justify-content-between"
  >
    <a href="{% url "home:home" %}" class="brand external"
      ><img src="{% static "images/logos/logo.svg" %}" alt="Listen app" /> </a
    ><a
      href="javascript:void(0);"
      role="button"
      class="sidebar-toggler"
      aria-label="Sidebar toggler"
      ><div class="d-none d-lg-block">
        <i class="ri-menu-3-line sidebar-menu-1"></i>
        <i class="ri-menu-line sidebar-menu-2"></i>
      </div>
      <i class="ri-menu-fold-line d-lg-none"></i
    ></a>
  </div>
  <div class="sidebar-body" data-scroll="true">
    <nav class="navbar d-block p-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url "home:home" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-home-4-line fs-5"></i>
            <span class="ps-3">خانه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">دسته بندی</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a href="{% url "genres:genres" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-disc-line fs-5"></i>
            <span class="ps-3">سبک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url "musices:musices_list" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-music-2-line fs-5"></i>
            <span class="ps-3">موزیک ها</span></a
          >
        </li>
        <li class="nav-item">
          <a href="{% url "albomes:albomes_list" %}" class="nav-link d-flex align-items-center"
            ><i class="ri-album-line fs-5"></i>
            <span class="ps-3">آلبوم ها</span></a
          >
        </li>
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">علاقمندی ها</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "favorites:favorites" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-heart-line fs-5"></i>
            <span class="ps-3">مورد علاقه</span></a
          >
        </li>
        <li class="nav-item nav-item--head">
          <span class="nav-item--head__text">اشتراک</span>
          <span class="nav-item--head__dots">...</span>
        </li>
        <li class="nav-item">
          <a
            href="{% url "subscription:plans" %}"
            class="nav-link d-flex align-items-center"
            ><i class="ri-vip-crown-line fs-5"></i>
            <span class="ps-3">پلن ها</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
{% endblock sidebar %}


{% block main %}
<main id="page_content">
    <div
      class="hero"
      style="background-image: url({% static "images/banner/event.jpg" %})"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div class="plan bg-light">
          <div class="card plan__info overflow-hidden">
            <div class="card-body d-flex flex-column p-0">
                <div class="card-body fw-medium">
                    <div class="d-flex align-items-center text-dark mb-4">
                      <i class="ri-music-2-line fs-3"></i>
                      <h4 class="mb-0 ps-3">
                        12 ماه اشتراک <span class="text-primary">{{ plan.name }}</span>
                      </h4>
                    </div>
                    <div class="d-flex mb-3">
                        <span class="ps-2"></span>
                    </div>
                    <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>

                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">دسترسی به تمام موزیک ها</span>
                    </div>
                    <div class="d-flex mb-3">
                      <i
                        class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                      ></i>
                      <span class="ps-2">بدون تبلیغات</span>
                    </div>
                  </div>
                  <div class="card-footer pb-4 pb-sm-0">
                    <div class="text-dark mb-3">
                      <span class="fs-4 fw-bold">{{ plan.price_pre_month }} هزار تومان</span>/ماهانه
                    </div>
                    <a href="{% url "payment:zarinpal_send_request" plan.id %}" type="button" class="btn btn-primary w-100">
                      انتخاب
                    </a>
                  </div>
                <div class="px-3 text-center mt-auto">
              </div>
            </div>
          </div>
          <div class="plan__data">
              <div class="card plan__col">
                <div class="card-body fw-medium">
                  <div class="d-flex align-items-center text-dark mb-4">
                    <i class="ri-music-2-line fs-3"></i>
                    <h4 class="mb-0 ps-3">
                        6 ماه اشتراک <span class="text-primary">{{ plan.name }}</span>
                    </h4>
                  </div>
                  <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                  <div class="d-flex mb-3">
                    <i
                      class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                    ></i>
                    <span class="ps-2">دسترسی به تمام موزیک ها</span>
                  </div>
                  <div class="d-flex mb-3">
                    <i
                      class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                    ></i>
                    <span class="ps-2">بدون تبلیغات</span>
                  </div>
                </div>
                <div class="card-footer pb-4 pb-sm-0">
                  <div class="text-dark mb-3">
                    <span class="fs-4 fw-bold">{{ plan.price_pre_month }} هزار تومان</span>/ماهانه
                  </div>
                  <button type="button" class="btn btn-primary w-100">
                    انتخاب
                  </button>
                </div>
              </div>
              <div class="card plan__col">
                <div class="card-body fw-medium">
                  <div class="d-flex align-items-center text-dark mb-4">
                    <i class="ri-music-2-line fs-3"></i>
                    <h4 class="mb-0 ps-3">
                      3 ماه اشتراک <span class="text-primary">{{ plan.name }}</span>
                    </h4>
                  </div>
                  <p class="fs-6 opacity-50">شامل چه چیزی میباشد</p>
                  <div class="d-flex mb-3">
                    <i
                      class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                    ></i>
                    <span class="ps-2">دسترسی به تمام موزیک ها</span>
                  </div>
                  <div class="d-flex mb-3">
                    <i
                      class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"
                    ></i>
                    <span class="ps-2">بدون تبلیغات</span>
                  </div>
                </div>
                <div class="card-footer pb-4 pb-sm-0">
                  <div class="text-dark mb-3">
                    <span class="fs-4 fw-bold">{{ plan.price_pre_month }} هزار تومان</span>/ماهانه
                  </div>
                  <button type="button" class="btn btn-primary w-100">
                    انتخاب
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock main %}